#sub-card-highlight{
    background: #a0a0a0;
    font-weight: bold;
    font-size: x-large;
    text-align: center;
    color: black;
}

#sub-card-non-highlight{
    font-weight: bold;
    font-size: x-large;
    color: black;
}

#sub-card-content {
    font-size: medium;
    color: #666666;
}